@model IEnumerable<WebApplicationHotel.Models.BookingModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.RoomSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPriceTotal)
        </th>
        <th></th>
    </tr>
    @ViewBag.Message = "Welcome " + model.CheckInDay;
    @*@ViewBag.CheckInDay
        @ViewBag.CheckOutDay*@


    @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoomSize)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomPriceTotal)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
        }

</table>
