@model IEnumerable<WebApplicationHotel.Models.BookingModel>

@{
    ViewBag.Title = "Vabad toad";
}

<h2>@ViewBag.Title</h2>
            @ViewBag.CheckInDay
            @ViewBag.CheckOutDay

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPriceTotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoomNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomSize)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomPriceTotal)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
        @*@Html.Action("Details")*@
        @*@Html.ActionLink("Edit", "BookingDone", new { /* id=item.PrimaryKey */ }) |*@
        @*@Html.ActionLink("Details", "Details", new { id = item.RoomId }) |*@
        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        <input type="button" title="Broneeri" value="Broneeri" onclick="location.href='@Url.Action("Details", "Booking", new { id = item.RoomId})'" />

    </td>
</tr>
    }

</table>
