@model WebApplicationHotel.Models.BookingModel

@{
    ViewBag.Title = "Broneeringu kustutamine";
}

<h2>@ViewBag.Title
    </h2>

<h3>Kas oled kindel, et soovid broneeringu kustutada?</h3>
<div>
    <h4>BookingModel</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.CheckInDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomPriceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPriceTotal)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "OwnBookingList")
        </div>
    }
</div>
